---
import { jokes } from '../data/content';
---

<div class="space-y-0">
  {jokes.map((joke, i) => (
    <>
      {i > 0 && <hr class="divider" />}
      <p class="text-sm text-gray-700 leading-relaxed italic">{joke}</p>
    </>
  ))}
</div>
